/* These CSS rule exists only for purpose of
 * CSS Lint Validation Demo. Will raise multiple
 * errors on running 'bin/fab lint_js'.
 */

html {
  
}

body {
  background: #FFFFFF !important;
  color: #333333;
  font: 14px/1.2 Helvetica, Arial, sans-serif;
}
